
body {
  background-color: rgb(231, 213, 158);
}

h1 {
  font-size: 200px;
}


.kitchen-container {
  position: relative;
}

.kitchen-background {
  width: 100%;
  display: block;
}

.hotspot {
  position: absolute;
  cursor: pointer;
  opacity: 0; /* invisible but clickable */
}

.hotspot.cabinet {
  top: 20%;
  left: 10%;
  width: 10%;
  height: 20%;
}

.hotspot.book {
  top: 30%;
  left: 40%;
  width: 10%;
  height: 15%;
}

.hotspot.stove {
  top: 60%;
  left: 30%;
  width: 15%;
  height: 20%;
}

.hotspot.computer {
  top: 50%;
  left: 70%;
  width: 15%;
  height: 20%;
}
